<html>
  <head>
    <title>j_test</title>
  </head>
  <body>
    <%=link_to  "create", {:action=>"create"},:target=>"_blank"%>
    <%=link_to  "update", {:action=>"update"},:target=>"_blank"%>
    <%=link_to  "update_all", {:action=>"update_all"},:target=>"_blank"%>
    <%=link_to  "find_all", {:action=>"find_all"},:target=>"_blank"%>
    <%=link_to  "paginate_jr", {:action=>"paginate_jr"},:target=>"_blank"%>

  </body>

</html>