<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html xmlns="http://www.w3.org/1999/xhtml">
  <head><title>添加案件重要程序</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <%= javascript_include_tag :defaults%>
    <%= javascript_include_tag  'WebCalendar'%>
  </head>
  <body>
    <br/>
    <div class="cDGray">添加案件重要程序(带<i>*</i>为必填项) <%=link_to "返回",:action=>"list",:recevice_code=>params[:recevice_code]%>
      <div style="color:red"><%=flash[:notice]%></div>
    </div><br/>
    <%form_for :matter ,:url=>{:action=>"create",:recevice_code=>params[:recevice_code]},:html =>{:onsubmit=>"return checkForm();"}  do |f|%>
     <table class="list">
        <tr>
          <th nowrap>提出时间:</th>
          <td nowrap>
             <%=f.text_field :propose_t,:readonly=>'Y',:size=>10%>
            <input type="button" value="..." onclick="SelectDate(document.getElementById('matter_propose_t'),'yyyy-MM-dd')" />
            <div style="color:red"><%=error_message_on(:matter,:propose_t)%></div>
          </td>
        </tr>
        <tr>
          <th nowrap>
            类型:
          </th>
          <td nowrap>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='0100' and state='Y' and used='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:category,op,:data_val,:data_text)%>
          </td>
        </tr>
        <tr>
          <th nowrap>
            提出方:
          </th>
          <td nowrap>
            <%op=TbDictionary.find(:all,:conditions=>"typ_code='0101' and state='Y' and used='Y'",:order=>'data_val',:select=>"data_val,data_text")%>
            <%=f.collection_select(:proposer_typ,op,:data_val,:data_text)%>
          </td>
        </tr>
        <tr>
          <th nowrap>提出人:</th>
          <td nowrap>
            <%=f.text_field :proposer,:size=>10%>
            <div style="color:red"><%=error_message_on(:matter,:proposer)%></div>
          </td>
        </tr>
        <tr>
          <th nowrap>内容:</th>
          <td>
              <%=f.text_area :content,:rows=>3%>
              <div style="color:red"><%=error_message_on(:matter,:content)%></div>
          </td>
         </tr>    
      </table>
      <div align="center"><%=submit_tag "提交" %></div>
    <%end%>
    <div id='p_list'>
    </div>

  </body>
</html>